.container-md
  .card
    .card-heading.bg-primary
      .card-title Elenco attività in scadenza
    .card-body
      div(ng-controller='ActivitiesController as activities')
        table.row-border.hover(datatable='ng', dt-options='activities.dtOptions' dt-column-defs='activities.dtColumnDefs')
          thead
            tr
              th Operatore incaricato
              th Pratica
              th Attività
              th Note
          tbody
            tr(ng-repeat='activity in activities.elements')
              td {{ activity.assignee.username }}
              td
                a(ng-href="{{$state.href('app.single_practice', {practiceId: activity.event.practice.id})}}") {{ activity.event.practice.name }}
              td
                a(ng-href="{{$state.href('app.single_activity', {activityId: activity.id})}}")
                  div(ng-if="activity.shortName.length > 0", uib-tooltip-html='activity.name', uib-tooltip-placement='top') {{ activity.shortName }}...
                  div(ng-if="activity.shortName.length == 0") {{ activity.name }}
              td 
                div(ng-if="activity.shortDescription.length > 0", uib-tooltip-html='activity.description', uib-tooltip-placement='top') {{ activity.shortDescription }}...
                div(ng-if="activity.shortDescription.length == 0") {{ activity.description }}
              