.container-md(ng-controller='ActivityController as controller')
  .card
    .card-heading.bg-primary(style="padding-bottom: 15px")
      div.card-title
        strong Attività
      .row
        .col-lg-12
          span Nome attività
          strong {{controller.activity.name}}
        .col-lg-6
          span Pratica
          strong(ng-click="controller.goToPractice()", style="text-decoration: underline") {{controller.activity.event.practice.name}}
        .col-lg-6
          span Nome evento
          strong(ng-click="controller.goToEvent()", style="text-decoration: underline") {{controller.activity.event.description}}
        .col-lg-6
          span Tipo attività
          strong {{controller.activity.activityType}}
        .col-lg-6
          span Operatore incaricato
          strong {{controller.activity.assignee.username}}
        .col-lg-6
          span Data scadenza
          strong {{controller.activity.expirationDate}}
        .col-lg-6(ng-if="controller.activity.completionDate != undefined")
          span Data chiusura
          strong {{controller.activity.completionDate}}
    .card-offset.pull-right
      button.btn.btn-purple.btn-circle.btn-lg(ng-href="{{$state.href('app.add_activity', {activityId: controller.activity.id})}}")
        em.icon-pencil
    .card-body
      div
        strong Descrizione attività
        .clearfix
        p(style="font-size: 16px") {{controller.activity.description}}