.container-md(ng-controller='ActivityController as activityDetailController')
  .card
    .card-heading.bg-primary(ng-click="activityDetailController.goToPractice()")
      .card-title(style="font-size:20px!important; padding-left: 20px;") Pratica
        strong {{activityDetailController.activity.event.practice.name}}
    .card-heading.bg-info(style="box-shadow: 0px -5px 5px -1px rgba(0,0,0,0.15);", ng-click="activityDetailController.goToEvent()")
      .card-title(style="font-size:20px!important; color:#E8EAF6!important; padding-left: 20px;") Evento
        strong {{activityDetailController.activity.event.description}}
    .card(ng-controller='MDInputCtrl', style="margin-bottom:0px;")
      .card-heading(style="border-bottom-color: #2196F3!important; border-bottom-style:solid!important; border-bottom-width:thin!important; box-shadow: 0px -5px 5px -1px rgba(0,0,0,0.15);")
        .card-title(style="font-size:20px!important; color:#3F51B5!important; padding-left: 20px;") Dettaglio Attività
      .card-body(style="border: 1px solid #f5f5f5")
        .col-lg-4
          label.text-muted(style="font-weight: normal;") Dati principali
          span [
            a(ng-href="{{$state.href('app.add_activity', {activityId: activityDetailController.activity.id, eventId: activityDetailController.activity.event.id})}}") modifica attività
            |]
        .col-lg-2(style="text-align: right;")
          .row.mr-sm
            label(style="font-weight: normal;") Nome attività
          .row.mr-sm
            label(style="font-weight: normal;") Descrizione attività
        .col-lg-6
          .row
            label {{activityDetailController.activity.name}}
          .row
            label {{activityDetailController.activity.description}}
        .clearfix
      .card-body
        .col-lg-4 
          label.text-muted(style="font-weight: normal;") Altri dati
        .col-lg-2(style="text-align: right;")
          .row.mr-sm
            label(style="font-weight: normal;") Tipo attività
          .row.mr-sm
            label(style="font-weight: normal;") Operatore Incaricato
          .row.mr-sm
            label(style="font-weight: normal;") Stato attività
          .row.mr-sm
            label(style="font-weight: normal;") Data chiusura
          .row.mr-sm
            label(style="font-weight: normal;") Data scadenza
        .col-lg-6
          .row
            label {{activityDetailController.activity.activityType}}
          .row
            label {{activityDetailController.activity.assignee.username}}
          .row
            label {{activityDetailController.activity.status}}
          .row
            label {{activityDetailController.activity.completionDate}}
          .row
            label {{activityDetailController.activity.expirationDate}}
        .clearfix