.container-md
  .card(ng-controller='PracticeController as addPracticeController')
    .card-heading.bg-primary
      .card-title(ng-if="addPracticeController.practice.id == '' || addPracticeController.practice.id == undefined") Nuova pratica
      .card-title(ng-if="addPracticeController.practice.id != '' && addPracticeController.practice.id != undefined") Modifica pratica 
        strong {{addPracticeController.practice.name}}
    .card-body
      .row
        .col-sm-12
          .mda-form-group
            input.mda-form-control(ng-model='addPracticeController.practice.name', tabindex='0', aria-invalid='false')
            label Descrizione pratica
            span.mda-form-msg.right Es. Nome cliente/Controparte
      .row
        .col-sm-12
          .mda-form-group
            textarea.mda-form-control(ng-model='addPracticeController.practice.description', rows='4', aria-multiline='true', tabindex='0', aria-invalid='false')
            label Note
            span.mda-form-msg.right La descrizione della pratica
      .row
        .col-sm-12
          md-button.pull-right.md-raised.md-primary(md-no-ink='', ng-click="addPracticeController.savePractice()") Salva