.container-md
  .card(ng-controller="EventController as addEventController")
    .card-heading.bg-primary
      .card-title(ng-if="addEventController.event.id == undefined") Nuovo evento
      .card-title(ng-if="addEventController.event.id != undefined") Modifica evento 
        strong {{addEventController.event.description}}
    .card-body
      .row
        .col-sm-12
          .mda-form-group
            input.mda-form-control(ng-model='addEventController.event.description', tabindex='0', aria-invalid='false')
            label Nome
      .row
        .col-sm-12
          .mda-form-group
            md-datepicker.mda-form-control(ng-model="addEventController.event.eventDate_dateFormat" style="border: none !important;")
            label Data evento
      .row
        .col-sm-12
          md-button.pull-right.md-raised.md-primary(md-no-ink='', ng-click="addEventController.saveEvent()") Salva