.container-md
  .card(ng-controller='UserController as userController')
    .card-heading.bg-primary
      .card-title Modifica utente 
        strong {{userController.user.username}}
    .card-body
      .row
        .col-sm-12
          .mda-form-group
            input.mda-form-control(ng-model='userController.oldPassword', tabindex='0', aria-invalid='false')
            label Vecchia Password
      .row
        .col-sm-12
          .mda-form-group
            textarea.mda-form-control(ng-model='userController.newPassword', rows='4', aria-multiline='true', tabindex='0', aria-invalid='false')
            label Nuova Password
      .row
        .col-sm-12
          .mda-form-group
            textarea.mda-form-control(ng-model='userController.repeatPassword', rows='4', aria-multiline='true', tabindex='0', aria-invalid='false')
            label Ripeti Nuova Password
      .row
        .col-sm-12
          md-button.pull-right.md-raised.md-primary(md-no-ink='', ng-click="userController.saveUser()") Salva