.container-md
  .card(ng-controller='UserController as userController')
    .card-heading.bg-primary
      .card-title Modifica utente 
        strong {{user.username}}
    .card-body
      .row
        .col-sm-12
          .mda-form-group
            input.mda-form-control(ng-model='userController.newPassword', rows='4', aria-multiline='true', tabindex='0', aria-invalid='false', type="password")
            label Nuova Password
      .row
        .col-sm-12
          .mda-form-group
            input.mda-form-control(ng-model='userController.repeatPassword', rows='4', aria-multiline='true', tabindex='0', aria-invalid='false', type="password")
            label Ripeti Nuova Password
      .row
        .col-sm-12
          md-button.pull-right.md-raised.md-primary(md-no-ink='', ng-click="userController.saveUser()") Salva
    .card-body(ng-if="userController.result != ''")
      alert.ng-star-inserted(dismissible="true")  
        strong {{userController.result}}