.container-md(ng-controller='EventController as controller')
  .card
    .card-heading.bg-primary(ng-click="controller.goToPractice()")
      .card-title(style="font-size:20px!important; padding-left: 20px;") Pratica
        strong {{controller.event.practice.name}}
    .card-heading.bg-info(style="box-shadow: 0px -5px 5px -1px rgba(0,0,0,0.15);")
      .card-title(style="font-size:20px!important; color:#E8EAF6!important; padding-left: 20px;") Dettaglio Evento
    .card-body(style="border: 1px solid #f5f5f5")
      .col-lg-2
        label.text-muted(style="font-weight: normal;") Dati evento
      .col-lg-2(style="text-align: right;")
        .row.mr-sm
          label(style="font-weight: normal;") Nome evento
        .row.mr-sm
          label(style="font-weight: normal;") Data evento
      .col-lg-8
        .row
          label {{controller.event.description}}
        .row
          label {{controller.event.eventDate}}
      .clearfix
    .card-body
      .col-lg-2
        label.text-muted(style="font-weight: normal;") Elenco attività
      .clearfix
      table.row-border.hover(datatable='ng', dt-options='controller.dtOptions' dt-column-defs='controller.dtColumnDefs')
        thead 
          tr  
            th Attività
            th Tipo attività
            th Operatore incaricato
            th Stato attività
            th Dettaglio
        tbody
          tr(ng-repeat='activity in controller.activities')
            td
              strong {{activity.name}}
              .clearfix
              span.text-muted {{activity.description}}
            td {{activity.activityType}}
            td {{activity.assignee.username}}
            td {{activity.status}}
            td 
              a.btn.btn-primary(ng-href="{{$state.href('app.single_activity', {activityId: activity.id})}}")
                i.icon-magnifier
