.container-md(ng-controller='EventController as controller')
  .card
    .card-heading.bg-primary(style="padding-bottom: 15px")
      div.card-title
        strong Evento 
      .row
        .col-lg-12
          span Pratica
          strong(ng-click="controller.goToPractice()", style="text-decoration: underline") {{controller.event.practice.name}}
        .col-lg-7.col-md-6.col-sm-12
          span Nome Evento
          strong {{controller.event.description}}
        .col-lg-5.col-md-6.col-sm-12
          span Data Evento
          strong {{controller.event.eventDate}}
    .card-offset.pull-right
      a.btn.btn-purple.btn-circle.btn-lg(ng-href="{{$state.href('app.add_event', {eventId: controller.event.id, practiceId: controller.event.practice.id})}}")
        em.icon-pencil
    .card-body(style="padding-top: 25px!important;")
      div.card-title.strong(style="font-size:18px!important; color: #424242 !important;font-weight: bold") Elenco Attività
        a(ng-href="{{$state.href('app.add_activity', {activityId: 0, eventId: controller.event.id})}}", style="font-weight: 100; font-size: 14px; line-height: 20px")
          em aggiungi attività
      table.row-border.hover(datatable='ng', dt-options='controller.dtOptions' dt-column-defs='controller.dtColumnDefs')
        thead 
          tr  
            th Attività
            th Tipo attività
            th Operatore incaricato
            th Stato attività
            th Dettaglio
        tbody
          tr(ng-repeat='activity in controller.activities')
            td 
              strong {{activity.name}}
              .clearfix
              span.text-muted {{activity.description}}
            td {{activity.activityType}}
            td {{activity.assignee.username}}
            td {{activity.status}}
            td 
              a.btn.btn-primary(ng-href="{{$state.href('app.single_activity', {activityId: activity.id})}}")
                i.icon-magnifier