.container-md(ng-controller='PracticeController as practiceDetail')
  .card
    .card-heading(data-ng-class="{ 'bg-primary' : !practiceDetail.practice.archived, 'bg-success-light' : practiceDetail.practice.archived}")
      .card-title(style="font-size:20px!important; padding-left: 20px;")
        em.icon-check(ng-if="practiceDetail.practice.archived", style="margin-right: 10px")
        | Dettaglio pratica
    .card-body(style="border: 1px solid #f5f5f5")
      .col-lg-4
        label.text-muted(style="font-weight: normal") Dati pratica
        span(ng-if="!practiceDetail.practice.archived") [
          a(ng-href="{{$state.href('app.add_practice', {practiceId: practiceDetail.practice.id})}}") modifica
          |&nbsp;|&nbsp;
          a(ng-click="practiceDetail.archivePractice()") archivia
          |]
        span(ng-if="practiceDetail.practice.archived") [
          a(ng-click="practiceDetail.unarchivePractice()") ripristina
          |]
      .col-lg-2(style="text-align: right;")
        .row.mr-sm
          label(style="font-weight: normal;") Nome pratica
        .row.mr-sm
          label(style="font-weight: normal;") Note
        .clearfix
      .col-lg-6
        .row
          label {{practiceDetail.practice.name}}
        .row
          label {{practiceDetail.practice.description}}
        .clearfix
      .clearfix
    .card-body
      .col-lg-4
        label.text-muted(style="font-weight: normal;") Elenco eventi
        span(ng-if="!practiceDetail.practice.archived") [
          a(ng-href="{{$state.href('app.add_event', {eventId: 0, practiceId: practiceDetail.practice.id})}}") aggiungi evento
          |]
      .clearfix
      table.row-border.hover(datatable='ng', dt-options='practiceDetail.dtOptions', dt-column-defs='practiceDetail.dtColumnDefs', dt-instance='practiceDetail.dtInstance')
        thead
          tr
            th Operatore inserimento
            th Evento
            th Data
            th Azioni
        tbody
          tr(ng-if="!event.archived || practiceDetail.showArchived", ng-repeat='event in practiceDetail.events', ng-class="{'text-muted': event.archived}")
            td {{event.creator.username}}
            td {{event.description}}
            td {{event.eventDate}}
            td(style="text-align:center")
              a(ng-href="{{$state.href('app.single_event', {eventId: event.id})}}") visualizza
              span(ng-if="!practiceDetail.practice.archived && !event.archived") | 
                a(ng-click="practiceDetail.archiveEvent(event.id)") archivia
              span(ng-if="!practiceDetail.practice.archived && event.archived") | 
                a(ng-click="practiceDetail.unarchiveEvent(event.id)") ripristina
    .card-body(style="text-align: right")
      label.mda-checkbox
        input(type='checkbox', ng-model="practiceDetail.showArchived", ng-click="reloadData();")
        em.bg-indigo-500
        | Mostra eventi archiviati