h3 Elenco pratiche
.container-md
  .card
    .card-body
        .row
            .col-sm-6.col-xm-12(style="margin-top: 15px")
                span Filtra per codice urgenza
                ul.filter-status(style="list-style: none; display:inline-block; padding: 5px")
                    li#red(style="display:inline-block")
                        a.label.label-danger(href="#") Rosso
                    li#orange(style="display:inline-block")
                        a.label.label-warning(href="#") Arancione
                    li#green(style="display:inline-block")
                        a.label.label-success(href="#") Verde


  .card
    .card-body
      div(ng-controller='PracticesController as practices')
        table.row-border.hover(datatable='ng', dt-options='practices.dtOptions')
          thead
            tr
              th Pratica
              th Note
          tbody
            tr(ng-repeat='practice in practices.elements')
              td
                a(ng-click="setCurrentPractice(practice.name)") {{ practice.name }}
              td {{ practice.description }}

      .row.card-body
        .col-sm-12.col-xm-12.col-lg-12.col-md-12
          span
            i Nota: Clicca sul nome della pratica per accedere al dettaglio