.container-md(ng-controller='PracticesController as practices')
  .card
    .card-heading.bg-primary
      .card-title Elenco pratiche
    .card-body
      div
        table.row-border.hover(datatable='ng', dt-options='practices.dtOptions', dt-column-defs='practices.dtColumnDefs', dt-instance='practices.dtInstance')
          thead
            tr
              th Operatore inserimento
              th Pratica
              th Note
          tbody
            tr(ng-if="!practice.archived || practices.showArchived", ng-repeat='practice in practices.elements', ng-class="{'text-muted': practice.archived}")
              td {{ practice.creator.username }}
              td
                a(ng-href="{{$state.href('app.single_practice', {practiceId: practice.id})}}") {{ practice.name }}
              td {{ practice.description }}

      .row.card-body
        .col-sm-12.col-xm-12.col-lg-12.col-md-12
          span
            i Nota: Clicca sul nome della pratica per accedere al dettaglio
    .card-body(style="text-align: right")
      label.mda-checkbox
        input(type='checkbox', ng-model="practices.showArchived", ng-click="reloadData();")
        em.bg-indigo-500
        | Mostra pratiche archiviate