
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 TeamTable
      h2.animated.fadeInLeft.anim-delay-15 Gestione del team in cloud
  
.container.container-md
  p.lead.m0 Gestisi il tuo team in cloud con uno strumento innovativo e veloce!
