
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 TeamTable
      h2.animated.fadeInLeft.anim-delay-15 Gestione del team in cloud
  
.container.container-md
  p.lead.m0 Gestisci il tuo team in cloud con uno strumento innovativo e veloce!
  .row.md-welcome-row
    .col-md-4
      .card.animated.fadeInDown.anim-delay-20(md-ink-ripple, style="min-height: 200px !important")
        .card-body 
          p.lead.text-bold Pratiche per urgenza
          | Estrai le pratiche per codice urgenza seguendo i seguenti link.
          .clearfix
          div(style="margin-top: 55px; font-size: 20px")
            span
              em.fa.fa-circle.text-danger
              |  
              a(ng-href="{{$state.href('app.practices_management_urgency', {urgencyCode: 'red'})}}") rosso
            |  | 
            span
              em.fa.fa-circle.text-warning
              |  
              a(ng-href="{{$state.href('app.practices_management_urgency', {urgencyCode: 'yellow'})}}") giallo
            |  | 
            span
              em.fa.fa-circle.text-green
              |  
              a(ng-href="{{$state.href('app.practices_management_urgency', {urgencyCode: 'green'})}}") verde
              .clearfix
          .clearfix
    .col-md-6
      .card.animated.fadeInDown.anim-delay-20(md-ink-ripple)
        .card-body(ng-controller="WelcomeController as welcomeController") 
          p.lead.text-bold Pratiche nel tempo
          .clearfix
          div(style="margin-top: 15px")
            div.col-md-6
              label Data da
              .clearfix
              md-datepicker.mda-form-control(ng-model="welcomeController.practice.search.fromDate", style="border: none !important;")
            div.col-md-6
              label Data a
              .clearfix
              md-datepicker.mda-form-control(ng-model="welcomeController.practice.search.toDate", style="border: none !important;")
          .clearfix
          md-button.pull-right.md-raised.md-primary(md-no-ink='' ng-click='welcomeController.doSearchPractices()')
            em.icon-magnifier(style="margin-right: 3px")
            |  Estrai
          div.clearfix
    .col-md-4
      .card.animated.fadeInDown.anim-delay-25(md-ink-ripple)
        .card-body(ng-controller="WelcomeController as welcomeController") 
          p.lead.text-bold Ricerca pratiche
          | Esegui una ricerca per nome pratica
          div(style="margin-top: 15px")
            div.col-md-12
              .mda-form-group
                input.mda-form-control(ng-model='welcomeController.practice.search.name', tabindex='0', aria-invalid='false')
                label Nome
          .clearfix
          md-button.pull-right.md-raised.md-primary(md-no-ink='' ng-click='welcomeController.doSearchPracticesByName()')
            em.icon-magnifier(style="margin-right: 3px")
            |  Esegui ricerca
          div.clearfix
