.block-center.mt-xl.wd-xl(ng-controller="LoginFormController as login")
  // START panel
  .panel.panel-inverse.panel-flat
    .panel-heading.text-center
      span TeamTable
    .panel-body
      p.text-center.pv Accedi per continuare.
      form.form-validate(role='form', ng-submit="login.login()", name='login.loginForm', novalidate='').mb-lg
        .form-group.has-feedback
          input#exampleInputEmail1.form-control(type='text', name="account_email" placeholder='Nome utente', autocomplete="off", ng-model="login.account.user", required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_email.$dirty && login.loginForm.account_email.$error.required") Questo campo è obbligatorio
        .form-group.has-feedback
          input#exampleInputPassword1.form-control(type='password', name="account_password" placeholder='Password', ng-model="login.account.password", required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          span.text-danger(ng-show="login.loginForm.account_password.$dirty && login.loginForm.account_password.$error.required") Questo campo è obbligatorio
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', value='', name="account_remember", ng-model="login.account.remember")
              span.fa.fa-check
              |  Ricordami
          //.pull-right
          //  a.text-muted(ui-sref="page.recover") Forgot your password?
        
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Accedi
      
      .alert.alert-danger.text-center(ng-show='login.authMsg') {{login.authMsg}}
      //p.pt-lg.text-center Need to Signup?
      //a(ui-sref="page.register").btn.btn-block.btn-default Register Now
  // END panel
  .p-lg.text-center
    span &copy; 
    span(ng-bind="app.year") 
    span  - 
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
