<div class="md-welcome">
   <div class="md-welcome-msg">
      <div class="container container-md">
         <h1 class="animated fadeInDown anim-delay-10">TeamTable</h1>
         <h2 class="animated fadeInLeft anim-delay-15">Gestione del team in cloud</h2>
      </div>
   </div>
</div>
<div class="container container-md">
   <p class="lead m0">Gestisci il tuo team in cloud con uno strumento innovativo e veloce!</p>
   <div class="row md-welcome-row">
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-20" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <p class="lead text-bold">Nuova pratica</p>Per creare una nuova pratica clicca il pulsante aggiungi.
               <div class="clearfix"></div>
               <md-button class="pull-right md-raised md-primary" md-no-ink="" href="{{$state.href(&quot;app.add_practice&quot;)}}">
                  <em class="icon-plus" style="margin-right: 3px;"></em>Aggiungi</md-button>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card animated fadeInDown anim-delay-25" md-ink-ripple="md-ink-ripple">
            <div class="card-body">
               <p class="lead text-bold">Ricerca pratiche</p>Ricerca le pratiche per nome, descrizione, data inserimento o altro
               <md-button class="pull-right md-raised md-primary" md-no-ink="" href="{{$state.href(&quot;app.practices_management&quot;)}}">
                  <em class="icon-magnifier" style="margin-right: 3px;"></em>Esegui ricerca</md-button>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
   </div>
</div>